@media (min-width: 0px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        background-color: hsl(185, 41%, 84%);
        font-family: monospace;
    }
    
    .container{
        height: 100%;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: hsl(185, 41%, 84%);
    }
    
    .header{
        text-align: center;
        margin-bottom: .5%;
        letter-spacing: 5px;
        font-size: 1.5em;
        color: hsl(184, 14%, 43%);
        text-transform: uppercase;
    }
    .splitter{
        margin-top: 5%;
    }
    
    .box{
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(185, 41%, 84%);
        border-radius: 15px;
        margin: 4% 27%;
        display: flex;
        padding: 2%;
        
    }
    
    .left{
        width: 50%;
        
    }
    
    input{
        width: 84%;
        background-color: hsl(189deg 62% 92%);
        border: none;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .right{
        width: 50%;
        float: right;
        padding: 1%;
        border-radius: 12px;
        background-color: hsl(183, 100%, 15%);
    }
    
    .dark{
        color: white;
        font-weight: 600;
        background-color: hsl(183, 100%, 15%);
    }
    
    .medium{
        color: hsl(183, 100%, 15%);
        font-weight: 800;
        background-color: hsl(172deg 97% 40%);
    }
    
    .light{
        background-color: hsl(185, 41%, 97%);
        font-weight: 700;
        color: hsl(184, 14%, 43%);
    }
    
    .percent{
        width: 24%;
        height: 30px;
        border-radius: 5px;
        margin-left: 0;
        margin: 4px;
    }
    
    .reset{
        width: 90%;
        font-weight: 700;
        border: none;
        padding: 5%;
        margin-left: 5%;
        margin-top: 45%;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color:hsl(173deg 97% 40%);
        color: hsl(183, 100%, 15%);
        text-transform: uppercase;
    }
    
    .font{
        font-size: 12px;
        margin-bottom: 2%;
        margin-top: 6%;
    }
    
    span{
        color:hsl(173deg 97% 40%);
        font-size: 2rem;
        font-weight: 700;
        margin-top: -8%;
    }

    .person{
        font-size: .6rem;
        float: none;
        color: hsl(185, 41%, 84%);
    }

    .tip{
        margin: 5%;
        color: white;
    }
    
    button{
        border: none;
    } 
    
    .one, .two, .three{
        margin-bottom: 5%;
    }
    span{
        float: right;
    }
}

@media(max-width: 750px){
    body{
        font-size: 23px;
    }
   
    .splitter{
        margin-top: 1%;
    }
    .box{
        display: block;
        width: 90%;
        padding-bottom: 100%;
        margin: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .container{
        padding-top: 5%;
    }

    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .one, .two, .three{
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .reset{
        width: 80%;
        border: none;
        font-size: unset;
        padding: 5%;
        margin-left: 10%;
        margin-top: 7%; 
        margin-bottom: 7%;
    }
    .tip{
        font-size: inherit;
    }

    input {
        font-size: 25px;
        width: 99%;
        height: 65px;
        border-radius: 8px;
    }
    .font {
        font-size: 25px;
    }
    .percent {
        width: 145px;
        font-size: inherit;
        height: 44px;
        margin: 7px;
    }

}